
.galeria{
    padding: 10px;
    flex-wrap: wrap;
    margin: 10px auto;
}

.interior{
    padding: 10px;
    flex-wrap: wrap;
    margin: 10px auto;

}

.galeria img{
    padding: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid;
}

.clientes{
    padding: 10px;
    flex-wrap: wrap;
    margin: 10px auto;

}

.comentarios{
    max-width: 1000px;  
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 40px auto;
    justify-content: space-between;  
}

.comentarios p{
    font-size: large;
    font-style: italic;
}